/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.headerLanding {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #29569f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo {
  flex: 1;
}

.logoLandingPage {
  width: 100px;
  height: auto;
  display: block;
  cursor: pointer;
}

.buttonLoginPage {
  position: relative;
  background-color: #f1f5f8;
  color: #0f172a;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
}

.buttonLoginPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s;
  z-index: 0;
}

.buttonLoginPage:hover::after {
  left: 0;
}

.buttonLoginPage span {
  position: relative;
  z-index: 1;
}

/* General section styles */
.sectionLanding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.sectionPrimary {
  color: white;
  background: #29569f;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionPrimary .homecontent {
  max-width: 600px;
  padding: 20px;
  order: 1;
}

.sectionPrimary .homeImg {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  animation: naikTurun 5s infinite;
  order: 2;
}

.homecontent h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.homecontent h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.homecontent p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.homecontent button {
  background-color: rgb(4, 27, 162);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.homecontent button:hover {
  background-color: #0c235b;
}

@keyframes naikTurun {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.textanimation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  order: 0;
}

.textanimation span {
  position: relative;
}

.textanimation span::before {
  content: "SIEMAS";
  color: white;
  animation: words 20s infinite;
}

.textanimation span::after {
  content: "";
  background-color: #29569f;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid white;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid white;
  }
}

@keyframes words {
  0%,
  20% {
    content: "SIEMAS";
  }

  21%,
  40% {
    content: "KABUPATEN";
  }
  22%,
  60% {
    content: "BANYUASIN";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.homeImg {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

.logoThumbnail {
  width: 45vw;
}

/* Responsive design */
@media only screen and (max-width: 599px) {
  .headerLanding {
    padding: 15px;
  }
  .logoLandingPage {
    width: 100px;
  }

  .buttonLoginPage {
    padding: 8px 16px !important;
  }

  .sectionPrimary .homecontent {
    order: 2;
  }

  .sectionPrimary .homeImg {
    order: 1;
  }
  .logoThumbnail {
    width: 70vw;
  }
}

@media only screen and (min-width: 600px) {
  .headerLanding {
    padding: 14px 30px;
  }
  .logoLandingPage {
    width: 120px;
  }

  .buttonLoginPage {
    padding: 10px 20px;
  }

  .sectionLanding {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .headerLanding {
    padding: 20px 30px;
  }
  .logoLandingPage {
    width: 150px;
  }

  .homecontent h1 {
    font-size: 3rem;
  }

  .sectionPrimary {
    gap: 70px;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .sectionPrimary .homecontent {
    max-width: 600px;
    padding: 20px;
    order: 1; /* Content on the left */
  }

  .sectionPrimary .homeImg {
    margin-top: 0;
    max-width: 45vw; /* Adjust image width */
    order: 2; /* Image on the right */
  }

  .textanimation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    order: 0; /* Animation above the content */
  }
}
